/* General Typography and Colors */
body { 
    color: #5f5f5f; 
    font: normal 12px/1.8em Arial, Helvetica, sans-serif; }

h1 { color: #fff; 
    font: bold 60px/1.2em Arial, Helvetica, sans-serif; }

h1 span { 
    color: #db7835; }

h1 small { 
    font: normal 16px/1.2em Arial, Helvetica, sans-serif; 
}

h2 { color: #73b40e; 
    font: bold 24px Arial, Helvetica, sans-serif; 
}

p { 
    font: normal 12px/1.8em Arial, Helvetica, sans-serif; 
    margin: 8px 0; 
}

/* Links and Hover Effects */

a, ul.sb_menu li a, ul.ex_menu li a { 
    color: #5f5f5f;
     text-decoration: underline; 
    }

a:hover, ul.sb_menu li a:hover, ul.fmenu li a:hover { 
    color: #73b40e; 
    text-decoration: underline; 
    font-weight: bold; 
}

a.red { 
    color: #db7835; 
}

/* Menu Links */
.menu_nav ul li a { 
    color: #fff; 
    text-decoration: none;
     border-radius: 4px; 
    }

.menu_nav ul li a:hover, .menu_nav ul li.active a {
     color: #fff; 
    }

/* Footer Styles */
.footer {
     color: #fff; }

ul.fmenu li a { 
    color: #fff;
    list-style: none; 
}

ul.fmenu li a:hover { 
    text-decoration: underline; color: #73b40e; }

/* Form Styling */
ol li input.text, ol li textarea { 
    width: 480px; 
    border: 1px solid #c0c0c0; 
    padding: 5px 2px; 
    background: #fff;
}

ol li .send { 
    margin: 16px 0 0 0; 
}
